*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-image: url(./img/1245270_Space_Domain_Hero_003.jpeg);
    background-size: 110%;
}



button{
    cursor: pointer;
}

.todo-list-item{
    background-color: #252e33;
    display: flex;
    justify-content: space-between;
    border-radius: 40px;
    padding: 20px;
    color: white;
    margin-top: 15px;
}

.todo{
    width: 500px;
    margin: 150px auto;
}

.form input{
    background-color: #181a19;
    border: none;
    outline: none;
    color: white;
    width: 80%;
    padding: 10px;
    border-radius: 40px 0px 0px 40px;
}

.form button{
    padding: 10px;
    width: 20%;
    border: none;
    border-radius: 0px 40px 40px 0px;
    background-color: rgb(181, 162, 162);
    color: black;
}
.todo-list-filter{
    display: flex;
    column-gap: 10px;
    align-items: center;
    margin-top: 20px;
    padding: 0px 20px;
}

.todo-list-filter button {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 5px;
    border-radius: 3px;
}


.todo-list-filter-active{
    background-color: white!important;
    color: black!important;
}